.footer{
    padding: 2% 1% 0 1%;
}

.footer footer{
    display: flex;
    margin: 0 0 -2% 0;
    color: black;
    font-weight: bold;
    text-shadow: 1px 0 1px white;
}

.footer a{
    color: black;
    text-shadow: 1px 1px 0 white, 1px 1px 1px black;
    font-family: "Times New Roman", sans-serif ;;
}

.footer a:hover{
    color: blue;
    text-shadow: 1px 1px 1px white, 1px 1px 1px black;
    font-family: "Times New Roman", sans-serif ;;
}

.hr{
    border: 1px solid rgba(0, 0, 0, 0.88);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
    margin: 1px 0;
}