*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

.profile{
    display: grid;
    grid-template-columns: 1fr repeat(3, 175px) 1fr;
    text-align: center;
    padding: 0 10%;
}

.profile h1{
    font-size: 6.45em;
    grid-column: 2/3 span;
    justify-content: center;
    color: black;
    text-shadow: 1px 0 1px white, 1px 0 1px black, 0 1px 1px black;
}

.profile h2{
    font-size: 3em;
    text-shadow: 1px 0 1px white, 1px 0 1px black, 0 1px 1px black;
    color: black;
    margin: 3% 0;
    grid-column: 2/3 span;
    justify-content: center;
}

.profilePicture{
    grid-column: 1/5 span;
    justify-content: center;
    width: auto;
    height: 2em;
    margin: 1% 39%;
}

.profilePicture img{
    grid-column: 3/3 span;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 4px;
    background-color: white;
    border: 1px solid white;
    box-shadow: 1px 1px black, 1px 1px 1px white, 1px 1px 1px white;
    border-radius: 30em;
}