.navBar{
    margin: 2% 0 1%;
}

.navBar ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.navBar li{
    flex: 1 0 auto;
    text-align: center;
    list-style-type: none;
}

.navBar a{
    font-size: 2em;
    color: #cecece;
    text-decoration: none;
    text-shadow: 2px 2px 2px #191919, 1px 1px 1px #616161;
    border: 5px solid #cccccc;
    border-radius: 9em;
    box-shadow: 1px 2px 2px #191919, 1px 1px 1px rgba(224, 224, 224, 0.85);
    padding: 0.5% 1.5%;
}

.tags1{
    grid-column: 1;
    justify-content: center;
}

.tags2{
    grid-column: 2;
    justify-content: center;
}

.navBar a:hover{
    color: rgba(249, 249, 249, 0.9);
    text-shadow: 2px 2px 2px black ;
    text-decoration: underline #f3f3f3;
    border: 5px solid #f3f3f3;
}
